.spotlight-container {
    display: flex;
    gap: 20px; 
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .custom-spotlight-card {
    width: 350px;
    position: relative;
    padding: 50px;
  }
  
  #spotlight-button {
    position: absolute;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%); 
    width: 100%; 
    display: flex;
    justify-content: center;
  }